@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200...700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Select Style for the Dropdown Menu */
#monsterSelect {
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 1px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell.occupied {
  background-color: #cfc;
}
